body,
td {
	font-family: Tahoma;
	color: black;
	scrollbar-face-color: #313642;
	scrollbar-highlight-color: white;
	scrollbar-dark-shadowcolor: #ffda89;
	scrollbar-track-color: #0f1217;
	scrollbar-arrow-color: #a6b8c4;
	scrollbar-shadow-color: #404040;
	scrollbar-3dlight-color: #a6b8c4;
	font-size: small;
}

img {
	border: 0px
}

p {
	margin-bottom: 15px;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 15px;
	text-align: justify;
}

.phref {
	margin-bottom: 30px;
	margin-left: 45px;
	margin-top: 30px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

.bg1 {
	background-image: url(bg1.bmp);
	background-repeat: repeat-x;
	background-position: top;
}

.bg2 {
	background-image: url(bg2.bmp);
	background-repeat: repeat-x;
	background-position: bottom;
}

.bg3 {
	background-image: url(bg3.bmp);
	background-repeat: repeat-x;
	background-position: bottom;
}

.zag {
	color: White;
	font-size: medium;
}

.def {
	color: black;
	margin-bottom: 15px;
	margin-left: 35px;
	margin-top: 30px;
	background-color: white;
}